@font-face{
    font-family: pp mori regular;
    src: url(Assets/Fonts/PPMori-Regular.otf);
}

@font-face{
    font-family: pp mori semibold;
    src: url(Assets/Fonts/PPMori-SemiBold.otf);
}

body{
    overflow-y: hidden;
}

h1{
    font-family: pp mori semibold;
    font-size: 130px; 
}

.dropdown-menu {
    display: none;
    width: 100px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    opacity: 70%;
    padding: 10px;
    right: 65px;
    z-index: 1;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dropdown-menu ul li {
    font-family: pp mori regular;
    margin-bottom: 5px;
    text-align: right;
    border-bottom: 1px solid rgb(19, 17, 17);
  }
  
  .dropdown-menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .icon:hover .dropdown-menu {
    display: block;
  }

  .icon {
    text-align: right;
    z-index: 1000;
    padding: 10px;
  }
  
  .icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .fas {
    color: #DB464A;
    margin: 0 -20px;
    width:75px
}